<%- include('../cabecalho.ejs') %><main class="container">
        <div class="form_post">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Postagens
                </h3>
                <% Posts.forEach(function(post){ %>
                    <article class="blog-post">
                        <h2 class="blog-post-title mb-1"><%=post.titulo %></h2>
                        <p class="blog-post-meta"><%=moment(post.data).format('DD/MM/YYYY') %> por <a href="#"><%=post.usuario.nome %></a></p>
                        <div class="text-center">
                            <p><%=post.texto %></p>
                            <img style='max-width: 80%; ' src="/fotos/<%=post.foto %>" class="rounded" alt="Foto do Post">
                        </div>
                    </article>
                <% }) %>
            </div>
    </main>
    <%- include('../rodape.ejs') %>